html{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
}
section{
  margin:0 auto;
  width:80%;
  height:100%;
  padding-top:0.5%;
}
.clicking1{
  width:60%;
  height:10%;
  margin:0 auto;
  background-color:rgb(0,82,255);
  border-radius:50% 50% 0 0;
  font-family:Comic Sans MS;
  text-align:center;
  line-height:150%;
}
.container1{
  width:60%;
  height:60%;
  border-left:2px solid black;
  border-right:2px solid black;
  margin:0 auto;
  background-color:rgba(255,163,0,0.75);
}
.clicking2{
   width:60%;
  height:20%;
  margin:0 auto;
  background-color:rgb(129,129,129);
  font-family:Comic Sans MS;
  text-align:center;
  line-height:300%;
}
.container2{
  width:60%;
  height:60%;
  border-left:2px solid black;
  border-right:2px solid black;
  margin:0 auto;
  background-color:rgba(255,163,0,0.75);
}
.clicking3{
  width:60%;
  height:20%;
  margin:0 auto;
  background-color:rgb(252,0,70);
  font-family:Comic Sans MS;
  text-align:center;
  line-height:300%;
}
.container3{
  width:60%;
  height:60%;
  border-left:2px solid black;
  border-right:2px solid black;
  margin:0 auto;
  background-color:rgba(255,163,0,0.75);
}
.clicking4{
   width:60%;
  height:20%;
  margin:0 auto;
  background-color:green;
  font-family:Comic Sans MS;
  text-align:center;
  line-height:300%;
}
.container4{
  width:60%;
  height:60%;
  border-left:2px solid black;
  border-right:2px solid black;
  margin:0 auto;
  background-color:rgba(255,163,0,0.75);
}
.clicking5{
   width:60%;
  height:10%;
  margin:0 auto;
  background-color:rgb(184,0,255);
  font-family:Comic Sans MS;
  text-align:center;
  border-radius:0% 0% 50% 50%;
  line-height:150%;
}
