#navImg{
  height:110px;
  width:200px;
    margin:10px 300px 25px 200px;
}
.navbar-toggler{
  margin-bottom:-20px;
}
.navbar-nav{
  padding-top: 30px;
}
.list-unstyled{
  margin-right: 80px;
}
.nav-item{
    padding-left:40px;
}
.list-unstyled a{
  color:black;
  transition: color 0.5s;
  word-wrap:normal;
}
.list-unstyled a:hover{
  color:orange;
}
#catsContainer{
  margin-top:50px;
  margin-bottom: 60px;
}
#mainContainer{
  padding-top:30px;
  padding-left:50px;
  padding-right:50px;
  background-color:rgb(227,227,227);
}
#mainContainer img{
  width:100%;
}
.box {
  margin-bottom: 10px;
  float: left;
  width: 300px;
}
.item a{
  text-decoration: none;
}
.block{
  width:300px;
}
.card-columns a{
  color:black;
  text-decoration: none;
}
.card img{
  background-color: rgb(227,227,227);
  width:100%;
  height:auto;
  padding:50px;
  padding-bottom: 0px;
  transition: 1s;
}
.card-block{
  border-left: 50px solid rgb(227,227,227);
  border-right:50px solid rgb(227,227,227);
  border-top: 1px solid rgb(227,227,227);
  transition:0.8s;
}
.card-block:hover{
  color:white;
  background-color: orange;
}
.card-columns{
  background-color: rgb(227,227,227);
  padding:60px;
}
.modal-body img{
  text-align: center;
    width:600px;
    height:600px;
}
.ADfooter{
  width:100%;
}
