html body{
  width:100%;
  padding:0;
  margin: 0;
}
#header{
  z-index:1000;
  background-color:white;
  position:fixed;
  top:0px;
  left:0px;
  height:120px;
  width:1568px;
}
#header img{
  margin:10px 300px 25px 400px;
  float:left;
  height:100px;
  width:200px;
}
#header ul{
  list-style:none;
}
#header ul li{
  float:left;
  margin:40px 60px 0px;
}
#header ul li a{
  font-size:0.9em;
  font-weight:lighter;
  color:black;
  text-decoration:none;
  transition:color 0.5s;
}
#header ul li a:hover{
  color:orange;
}
#title{
  line-height: 120px;
  text-align: center;
  position: relative;
  top:120px;
  height:120px;
  background-color:rgb(247,247,247);
}
#title h1{
  font-weight: lighter;
}
#main{
  text-align: center;
  position: relative;
  top:120px;
}
#main>img{
  margin:0 auto;
  margin-top:20px;
}
article{
  overflow: auto;
  margin: 0 auto;
}
center{
  margin-top:20px;
}
#author{
  line-height: 200px;
  border-top:0.5px solid black;
  height:200px;
}
#author img{
  border-radius: 50% 50% 50% 50%;
  margin-top: 10px;
  float:left;
  margin-left: 50px;
  width:100px;
  height:100px;
  display: inline-block;
}
#name{
  margin-left: 20px;
  float: left;
  line-height: normal;
  text-align: justify;
  display: inline-block;
  width:200px;
  height:200px;
}
#cate{
  margin-left: 20px;
  float: left;
  line-height: normal;
  text-align: justify;
  display: inline-block;
  width:200px;
  height:200px;
}
#author a{
  display: inline;
  color:orange;
  text-decoration: none;
}
#relatedArticle{
  background-color: rgb(247,247,247);
  text-align:center;
  position:relative;
  top:120px;
  height:600px;
  margin:0 auto;
}
#relatedArticle h2{
  font-weight: lighter;
}
.smallBox{
  margin-left: 40px;
  float: left;
  background-color:rgb(247,247,247);
  width:320px;
  overflow: hidden;
}
.smallBox:hover{
  color:white;
  background-color: orange;
}
.smallBox img{
  display:block;
  width:320px;
  height:320px;
  margin:0 auto;
  overflow: hidden;
}
.smallBox img:hover{
  position: relative;
  width:350px;
  height:350px;
  top:-10px;
  left:-10px;
}
#footer{
  position:relative;
  top:120px;
  display: block;
  font-size:2em;
  line-height: 200px;
  text-align:center;
  color:white;
  background-color: black;
  width:100%;
  height: 200px;
  padding:0;
}
#footer a{
  position:relative;
  top:2em;
  color:yellow;
  text-decoration: none;
  font-size:0.2em;
}
